# Entorno Virtual
venv/
.venv/
*/venv/
*/.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs/Editores
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Otros
*.log
*.tmp
*.DS_Store